@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

/// Heading styles. Common styles collected in main class. (For example `.heading`) More specific classes should be place inner class section.
/// @group Fonts
///
.heading {
  font-family: "Raleway", sans-serif;
  font-style: normal;

  &_15px {
    @extend .heading;
    font-size: 0.9375rem;
    &_bold {
      @extend .heading_15px;
      font-weight: 700;
    }
  }

  &_18px {
    @extend .heading;
    font-size: 1.125rem;
  }

  &_24px {
    @extend .heading;
    font-size: 1.5rem;
  }
}
/// Segoe UI styles. Common styles collected in main class. (For example `.segoe`) More specific classes should be place inner class section.
/// @group Fonts
///
.segoe {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: normal;

  &_30px {
    @extend .segoe;
    font-size: 1.875rem;
  }
}
