@use "./base/normalize" as *;
@use "./abstracts/mixins" as *;

#root {
  width: 70vw;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2.5rem;

  .navbar,
  .header-section,
  footer {
    grid-column: 1 / span 12;
  }

  .card {
    grid-column: 2 / span 10;
  }

  @include devices(mobile) {
    .header-section {
      grid-template-columns: 1fr;
    }
  }

  @include devices(tablet) {
    .header-section {
      grid-template-columns: 1fr;
    }
  }
}
